streamlit==1.61.1
requests
supabase
chromadb
sentence-transformers
pytesseract
Pillow
httpx
apscheduler
openai-whisper
soundfile
toml
ddgs
duckduckgo-search
google-api-python-client
plotly
psutil
torchvision
extra-streamlit-components
pypdf
python-docx
pytest
