streamlit
requests
supabase
chromadb
sentence-transformers
pytesseract
Pillow
httpx
apscheduler
openai-whisper
soundfile
toml
ddgs
duckduckgo-search
google-api-python-client
plotly
psutil

# Streamlit Cloud rebuild 2026-08-10
torchvision
